{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/table.css') }}"
/>
<title>Search Results</title>
{% endblock %} {% block body %}

<div class="table-container">
  <h3>Bonds encashed by political parties</h3>
  <table>
    <thead>
      <tr>
        <th>Sr No.</th>
        <th>Date of Encashment</th>
        <th>Name of the Political Party</th>
        <th>Account no. of Political Party</th>
        <th>Prefix</th>
        <th>Bond Number</th>
        <th>Denominations</th>
        <th>Pay Branch Code</th>
        <th>Pay Teller</th>
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
      <tr>
        <th>{{row[0]}}</th>
        <th>{{row[1]}}</th>
        <th>{{row[2]}}</th>
        <th>{{row[3]}}</th>
        <th>{{row[4]}}</th>
        <th>{{row[5]}}</th>
        <th>{{row[6]}}</th>
        <th>{{row[7]}}</th>
        <th>{{row[8]}}</th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
</div>
